[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no

[defaults]
pipelining = True
forks = 50
# Use Ansible YAML callback for better logs UX.
# See https://www.jeffgeerling.com/blog/2018/use-ansibles-yaml-callback-plugin-better-cli-experience
stdout_callback = yaml
bin_ansible_callbacks = True
run_vars_plugins = start
remote_user = robinholzi

[community.sops]
vars_stage = inventory
vars_cache = false
